<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="flattr:id" content="w7dn30">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <script src="/{{ site.baseurl }}js/jquery.min.js"></script>
  <script type="text/javascript">
    if (window.location.hostname !== "localhost" &&
    window.location.protocol !== "https:")
      window.location.href = "https:"
      + window.location.href.substring(window.location.protocol.length);
  </script>


  <link rel="stylesheet" href="/{{ "css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="me" href="https://noc.social/@mitjajez">
</head>
