<a href="https://www.stackoverflow.com/users/{{ include.username }}">
    <span class="icon icon--stackoverflow">{% include icon-stackoverflow.svg %}</span>
    <span class="username">{{ include.username }}</span>
</a>